@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    
        --verde-escuro: #14424b;
        --verde: #2f9364;
        --orange: #ff7c37;
        --degrade-btn: linear-gradient(#fe9611, #ff5c00);
        --color-p: #a1a1a1;
        --color-p-2: #868585;
        --preto-titulos: #242424;
    
}

body{
    background-color: var(--preto-titulos);
    font: "Poppins", sans-serif;
}
.container{
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}
/* Menu */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.logo a{
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.ul{
    display: flex;
    align-items: center;

}
.ul li{
    margin: 0 35px;
    font-size: 15px;
}
.ul li a{
    color: white;
    transition: color 0.3s ease;
}
.ul li a:hover{
    color: var(--orange);
}

.btn-barbearia{
    padding: 9px 15px;
    color: white;
    background-image: var(--degrade-btn);
    transition: background 0.3s ease;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-cliente{
    padding: 9px 15px;
    color: white;
    background-image: var(--degrade-btn);
    transition: background 0.3s ease;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-comecar{
    padding: 9px 15px;
    color: white;
    background-image: var(--degrade-btn);
    transition: background 0.3s ease;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.menu-icon{
    display: none;
    position: relative;
    z-index: 10;
}


/* Estilos específicos para o formulário de cadastro */

.titulo h1{/* Titulo da pagina */
    color: white;
}

.form-cadastro {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 20px;

}

.form-group label {
    padding: 9px 15px;
    color: white;
    background-image: var(--degrade-btn);
    transition: background 0.3s ease;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.form-group input:focus {
    outline: none;
    border: 2px solid var(--orange);
}
.btn-cadastro{
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    background-image: var(--degrade-btn);
    color: white;
}
.btn-gradiente {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #250c02bd;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000a8;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d8d2d2;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #ff5c00;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #ff5c00;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #ff5c00;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #ff5c00;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #ff5c00;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #ff5c00;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}